<app-stagiaire-filter [filterDate]="stopDate" (onChangeFilter)="filterChanged($event)"></app-stagiaire-filter>

<table>
    <thead>
        <tr><!-- tr : table row-->
            <th>&nbsp;</th>
            <th>#</th>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Birthdate</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let stagiaire of stagiaires">
            <tr *ngIf="changeView(stagiaire)" >
                <td>
                    <span appBubble [config]="bubbleConfig" (click)="onClick(stagiaire)">
                        {{ stagiaire | initials: {firstNameFirst: true, full: true} }}
                    </span>
                    <!-- nativeElement
                        <span appBubble>JLA</span>
                    -->
                </td>
                <td>
                    {{ stagiaire.getId() }}
                </td>
                <td>
                    {{ stagiaire.getLastName() | uppercase }}
                </td>
                <td>
                    {{ stagiaire.getFirstName() }}
                </td>
                <td>
                    {{ stagiaire.getBirthDate() | date: 'dd-MM-YYYY' }}
                </td>
                <td>
                    <button type="button" (click)="onRemove(stagiaire)">x</button>
                    <button type="button" (click)="onUpdate(stagiaire)">U</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">Nb. items</td>
            <td>{{ getVisibleStagiaireNumber()}}</td>
        </tr>
    </tfoot>
</table>

<a [routerLink]="['/', 'stagiaire', 'add']">Ajouter</a>
