<form [formGroup]="stagiaireForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field>
            <input 
                matInput 
                placeholder="Nom du stagiaire..." 
                id="lastName" 
                formControlName="lastname"
            >
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
        <input id="firstName" placeholder="Prénom du stagiaire..." matInput formControlName="firstname">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput placeholder="Email du stagiaire..." id="email" type="email" formControlName="email">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput placeholder="Numéro de téléphone..." id="phoneNumber" type="text" formControlName="phoneNumber">
        </mat-form-field>
    </div>

    <div>
        <label for="birthDate">Birthdate: </label>
        <input id="birthDate" type="date" formControlName="birthdate">
    </div>

    <div>
        <button mat-raised-button color="primary" [disabled]="!stagiaireForm.valid">Ajouter stagiaire</button>
    </div>
</form>

